body 
{
    background-color: Wheat   ;
	background-image: url(https://www.sketchuptextureclub.com/public/texture_d/0044-parchment-paper-texture-seamless-hr.jpg);
	background-repeat: repeat;
	background-position: top left;
	margin-left: 100px;
	margin-top: 50px;
}
	
h1 {
	font-weight:bolder;
    text-shadow: 1px 1px #696969;
	text-align: center
}
h3 {
	font-size: x-large;
	text-align: center;
	}
h4 {
	font-size: medium;
	text-align: center;
	}

a:link, 
	a:visited {
		background-color: #b58942;
		color: white;
		padding: 14px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
			}
	a:hover {
		background-color: brown;
		color: #ffd700;
			}

/* Container holding the image and the text */
.container {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 490px;
    bottom: 140px;
}

.bottom-left {
    position: absolute;
    top: 525px;
    left: 100px;
}

.mid-left {
    position: absolute;
    top: 350px;
    left: 60px;
}

.top-left {
    position: absolute;
    top: 170px;
    left: 140px;
}

.top-right {
    position: absolute;
    top: 160px;
    left: 500px;
}

.mid-right {
    position: absolute;
    top: 340px;
    left: 575px;
}

.bottom-right {
    position: absolute;
    top: 530px;
    left: 515px;
}

.centered {
    position: absolute;
    top: 355px;
    left: 315px;
}

.top {
    position: absolute;
    top: 20px;
    left: 335px;
}

.bottom {
    position: absolute;
    top: 610px;
    left: 315px;
}
